R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_access_key_here
R2_SECRET_ACCESS_KEY=your_secret_key_here
R2_BUCKET=your_bucket_name
R2_ENDPOINT=https://<your_account_id>.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-<your_public_hash>.r2.dev
