R2_ACCOUNT_ID=4d54a6a07592bcbb6c2aa39b6f9fe1eb
R2_ACCESS_KEY_ID=your_access_key_here
R2_SECRET_ACCESS_KEY=your_secret_key_here
R2_BUCKET=islam-daily
R2_ENDPOINT=https://4d54a6a07592bcbb6c2aa39b6f9fe1eb.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-3f76e9c4da264c6ba85283d8af8108a0.r2.dev
